* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
}

.container {
    width: 400px;
    background-color: white;

    padding: 40px;
    border-radius: 20px;

    text-align: center;

    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

#sapaan {
    color: #333;
    margin-bottom: 10px;
    font-size: 32px;
}

.desc {
    color: #777;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 14px;

    border: 1px solid #ccc;
    border-radius: 10px;

    font-size: 16px;

    margin-bottom: 20px;

    outline: none;
}

input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 10px;

    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    color: white;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}


